body{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px ;
}

header, footer{
    background-color: brown;
}

.site-title{
    color: pink;
}

#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

.hobbies{
    list-style-type: square;
}

.hobbies, li:nth-child(odd) {
    background-color: red;
}

a {
    text-decoration: none;
    background-color: aqua;
    border: 2px solid red;
    border-radius: 5px solid red;
}
a:hover{
    background-color: aquamarine;
}
