html {
    font-size: 16px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background-color: #aad4cf;

}

header {
    height: 50vh;
    background-color: #aad4cf;
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

h1,h2,h3,h4 {
    padding-bottom: 1rem;
    font-weight: bold;
}

h1 {
    font-size: 4rem;
    color: white;
    text-align: center;
    position: relative;
    top: 250px;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;

}


img{
    width: 150px;
    float:left;
}

nav li{
    display: inline;
    position: relative;
    top: 250px;
    left: 550px;
    text-transform: uppercase;
}

a{
    display: inline-block;
    width: 140px;
    height: 40px;
    text-decoration: none;
}

.facts {
    list-style: disc;
    padding-left: 20px;

}

form {
  
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  

}