/* setting default styling for the html */
html {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	line-height: 1.4;
	width: 100%;
	font-size: 0.8rem;
}
/* setting the max width of the container to 1200px */
/* setting auto margin to center container content */
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

/* beginning for all consistent styling between desktop and mobile  */
a {
	text-decoration: none;
	color: #c78c06;
}

.site-btn {
	color: #222;
}

.section-img {
	width: 100%;
}

iframe {
	width: 100%;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
	line-height: 4.5rem;
	max-width: 450px;
}

h2 {
	font-size: 2.5rem;
	font-weight: 700;
	margin: 15px 0px;
}

h3 {
	font-size: 1.5rem;
	font-weight: 700;
	margin: 10px 0px;
}

.section-p {
	font-size: 1rem;
	line-height: 1.3rem;
	margin: 10px 0px;
}

.team-title {
	font-weight: 700;
}

hr {
	width: 100%;
	border: 1px solid #c78c06;
}

/* setting vision styling that is consistent in both dekstop and mobile */
/* setting background image and adjusting baavkground size, object fit background position proprties to match the mockup */
#vision {
	background-image: url("/images/vision.jpg");
	background-size: cover;
	object-fit: contain;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: white;
	padding: 10px 50px;
	max-height: fit-content;
}

/* setting border background padding proprety for the vision button */
/* overwrting section button styling */
.section-btn.vision {
	border: 1px solid #c78c06;
	background-color: #00000046;
	padding: 30px 20px;
	max-width: fit-content;
}
/* setting max width media query for the screen size of 760 and below */
/* mobile styling */
@media screen and (max-width: 760px) {
	section {
		padding: 15px;
	}

	/* Default button styling */
	/* Class responsible for all the buttons */

	.section-btn {
		background-color: #222;
		color: white;
		padding: 30px 25px;
		margin-top: 10px;
		max-width: fit-content;
	}

	/* Contact button styling */
	.section-btn.connect {
		background-color: #c78c06;
		color: #222;
	}
	nav {
		width: 100%;
	}

	#site-header {
		padding-top: 10px;
		background-color: #222;
	}

	#nav-container {
		background-color: #222;
		padding: 0px 10px;
	}

	nav a {
		color: #c78c06;
	}

	#home-btn {
		background-color: #c78c06;
		margin-top: -1px;
	}

	#header-container {
		/* background-color: #c78c06; */
		width: 100%;
	}

	#links {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: #222;
	}

	#links li {
		width: 100%;
		text-align: center;
		padding: 15px 0px;
	}

	#logo {
		background-color: #c78c06;
		margin: 0;
		padding: 0;
		height: 108px;
	}
	/* Search styling */
	/* Setting form width and flex alignment */
	#search {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 10px 0px;
	}
	/* Setting inout field width and height */
	#search input {
		width: 90%;
		height: 45px;
		padding: 5px;
	}
	/* Adding background color and text color */
	#search-btn {
		background-color: #222;
		color: #c78c06;
		border: 1px solid #c78c06;
	}

	.section-description-container {
		background-color: rgb(255, 230, 172);
		flex-direction: column;
		margin-top: -2px;
		display: flex;
		justify-content: space-between;
		max-height: fit-content;
		padding: 15px;
	}

	/* hero section styling */

	#main-banner-container {
	}

	#hero-section {
		background-image: url("/images/main-banner.jpg");
		background-size: cover;
		background-position: bottom;
		object-fit: contain;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: left;
		position: relative;
		height: 450px;
	}

	#hero-container {
		display: flex;
		justify-content: space-between;
		background-color: #22222298;
		max-height: fit-content;
		color: white;
		padding: 20px;
		height: 300px;
		width: fit-content;
		padding: 15px;
	}

	#front {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#front p {
		font-size: 1rem;
		line-height: 1.2rem;
	}

	/* about styling section */

	#about {
		background-color: rgb(255, 230, 172);
	}
	
	/* styling for our team section */

	#team article {
		margin-bottom: 15px;
	}

	/* styling for contact section */

	#contact-form {
		width: 100%;
	}

	#contact-fieldset {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	#contact-fieldset label {
		font-size: 1rem;
		line-height: 1.3rem;
		margin: 5px 0px;
	}

	#contact-fieldset input {
		width: 99%;
		height: 30px;
	}

	#form-btn {
		background-color: #222;
		color: #c78c06;
		border: none;
		margin-top: 20px;
		font-size: 1.4rem;
		height: 30px;
	}

	#contact-fieldset textarea {
		height: 150px;
		width: 99%;
	}

	/* setting table styling */

	table {
		width: 100%;
	}

	table th {
		text-align: center;
		font-size: 1rem;
		border: 1px solid #222;
		background-color: rgb(255, 230, 172);
		line-height: 1.3rem;
		padding: 10px 0px;
	}

	table td {
		font-size: 1rem;
		border: 1px solid #222;
		text-align: center;
		line-height: 1.3rem;
		padding: 10px 0px;
	}

	/* styling footer */

	footer {
		background-color: #222;
		color: #c78c06;
		height: 90px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding-top: 15px;
		padding-left: 15px;
	}

	footer a {
		color: #c78c06;
		text-decoration: underline;
	}

	/* hiding desktop location section on mobile */
	.location.desktop {
		display: none;
	}
}

/* desktop styling above 760px view width */
@media screen and (min-width: 760px) {
	section {
		padding: 15px;
	}

	/* setting header styling */
	/* setting deault site header padding and background color */
	#site-header {
		padding-top: 20px;
		background-color: #222;
	}

	/* centering child element using flex box and setting default side margin */
	#header-container {
		display: flex;
		justify-content: center;
		margin: 0px 10px;
	}

	/* centering logo container and nav element*/
	/* setting default padding, flex alginment and max width to 80% to match mockup */

	#nav-container {
		padding: 10px 18px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		font-size: 14px;
		width: 100%;
		max-width: 80%;
	}

	nav {
		display: flex;
		align-items: center;
		width: 100%;
	}

	/* setting parent logo nav container to flexbox and setting child image element alignment to center */
	/* setting deault logo image height */

	.logo-nav {
		display: flex;
		align-items: center;
		width: 100%;
	}

	#logo-image {
		height: 80px;
	}

	/* adding flexbox to ul element and centering listed items */
	#links {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}

	/* setting a tag to display block to fill full width of parent element */
	/* setting default horizontal and vertical padding */
	#links li a {
		display: block;
		padding: 12px 18px;
	}

	/* setting default style for the home button element, background color and padding */
	#home-btn {
		background-color: #c78c06;
		color: #222;
		padding: 10px 20px;
		margin-left: 30px;
	}

	/* setting default height for search form element */
	#search {
		display: flex;
		align-items: center;
		height: 35px;
	}

	/* setting default width and removing border, outline for input field */
	#search input {
		border: none;
		outline: none;
		box-sizing: border-box;
		width: 150px;
		height: 100%;
	}

	/* adding border, background color, text color */
	#search-btn {
		border: 1px solid #c78c06;
		background-color: #222;
		color: #c78c06;
		height: 100%;
	}

	/* begining of hero section styling */

	/* setting hero section display to flex, padding, height and ensuring background image is set to cover */
	/* setting background image to the hero section so that the element containing the information can be rendered above the image  */

	#hero-section {
		display: flex;
		align-items: center;
		padding: 0px 36px;
		background-image: url("/images/main-banner.jpg");
		background-size: cover;
		object-fit: cover;
		background-position: center;
		height: 495px;
	}

	/* setting background color to the container and setting the text color to white */
	#hero-container {
		display: flex;
		background-color: #22222298;
		color: white;
	}

	/* displaying child elements in a column using flexbox, and separeting the child element using space between and setting default height */
	#front {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px;
		height: 400px;
	}

	/* setting default styling for all section buttons */
	.section-btn {
		background-color: #222;
		color: white;
		margin-top: 10px;
		padding: 30px 20px;
	}

	/* Contact button styling */
	/* overwriting background color and text color styling */
	.section-btn.connect {
		background-color: #c78c06;
		color: #222;
		padding: 30px 20px;
		max-width: fit-content;
	}

	/* beginning of section services styling */
	/* setting default background color and flexbox alignment and distribution */
	#about {
		background-color: rgb(255, 230, 172);
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: fit-content;
		align-items: center;
	}

	/* setting max width and image height */
	#about img {
		max-width: 400px;
		height: 80%;
	}

	/* setting flex direction to column so that child elements are on top of each other */
	/* setting default max width and padding */

	.section-info {
		display: flex;
		flex-direction: column;
		padding: 15px;
		max-width: 30%;
	}

	/* setting services section container to flex to put all child elements in a column */
	.services-section-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	/* setting default background color and flex direction */
	#services {
		background-color: white;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0px 40px;
	}

	/* setting services display proprety to grid to align and order the child article element */
	/* setting six equal columns with ten pixel space between items */
	#services {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 10px;
	}

	/* setting h2 to span full row */
	#services h2 {
		grid-column: 1 / 7;
	}

	/* displaying default card proprety to flex and putting child elements to column and centering their alignment */
	.card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 10px;
	}

	/* setting default card width */
	.card img {
		width: 100%;
	}

	/* grid styling for the first two services */
	/* using nth of type to select first grid item and setting its width to three column wide */
	.card:nth-of-type(1) {
		grid-column: span 3;
	}

	/* using nth of type to select second grid item and setting its width to three column wide */

	.card:nth-of-type(2) {
		grid-column: span 3;
	}

	/* grid styling for the last three services */
	/* using nth of type to select third grid item and setting its width to two column wide so that the three card can fit in 1 row */

	.card:nth-of-type(3) {
		grid-column: span 2;
	}

	/* using nth of type to select fourth grid item and setting its width to two column wide */
	.card:nth-of-type(4) {
		grid-column: span 2;
	}

	/* using nth of type to select fifth grid item and setting its width to two column wide */

	.card:nth-of-type(5) {
		grid-column: span 2;
	}

	/* setting default flex propretiy and background color */
	.section-description-container {
		background-color: rgb(255, 230, 172);

		display: flex;
		flex-direction: column;
		padding: 10px;
	}

	/* aligning all services button text to center */
	#services .section-btn {
		text-align: center;
	}

    /* setting parent container to flex and aligning child element into a column */
    #team {
		display: flex;
		flex-direction: column;
		background-color: white;
		padding: 0px 50px;
	}

    /* setting flex proprety to row */
    /* setting items to strecth to match the size of the container and image */
	#team article {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
		padding: 10px;
	}

    /* using nth of type to select second article and setting the flex direction to rwo reverse to march the mockup */
	#team article:nth-of-type(2) {
		flex-direction: row-reverse;
	}

    /* setting team image width to 50% to cover half of the element width */
	#team img {
		width: 50%;
		display: block;
		object-fit: cover;
	}

    /* setting description width to 50% to cover the other half */
	#team .section-description-container {
		width: 50%;
		display: flex;
		flex-direction: column;
		padding: 20px;
		background-color: #f4e1a1;
	}

    
}
