/* setting default styling for the html */
html {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	line-height: 1.4;
	width: 100%;
}
/* setting the max width of the container to 1200px */
.container {
	max-width: 1200px;
}

/*  */
a {
	text-decoration: none;
}

.site-btn {
	color: #222;
}
/* setting max width media query for the screen size of 760 and below */
/* mobile styling */
@media screen and (max-width: 760px) {
	
    img,
	iframe {
		width: 100px;
	}
	nav {
		width: 100%;
	}

    #site-header {
        padding: 10px;
        background-color: #222;
    }

	#nav-container {
		background-color: #222;
	}

	nav a {
		color: #c78c06;
	}

	#home-btn {
		background-color: #c78c06;
        margin-top: -1px;
	}   

	#header-container {
		/* background-color: #c78c06; */
		width: 100%;
	}

	#links {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: #222;
	}

	#links li {
		width: 100%;
		text-align: center;
		padding: 15px 0px;
	}

	#logo {
		background-color: #c78c06;
		margin: 0;
		padding: 0;
		height: 150px;
	}
     /* Search styling */
     /* Setting form width and flex alignment */
    #search {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }
    /* Setting inout field width and height */
    #search input {
        width: 90%;
        height: 45px;
        padding: 5px;
    }
    /* Adding background color and text color */
    #search-btn {
        background-color: #222;
        color: #c78c06;
        border: 1px solid #c78c06;
    }
}

@media screen and (min-width: 760px) {
	.container {
	}
}
